:root {
  --input-max-width: 300px;
  --input-line-height: 15px;
  --input-icon: inherit;
  --input-error-icon: invert(1) sepia(1) saturate(5) hue-rotate(320deg);
}

.form-element {
  width: var(--input-max-width);

  position: relative;

  &_side {
    .form-element__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .form-element__input input {
        max-width: fit-content;
        width: 64px;

        text-align: right;
        padding-block: 2px;
        margin-top: 0;
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    .form-element_icon-cmnd {
      &::after {
        display: none;
      }
    }

    .form-element__helper-text {
      margin-top: 0;
      text-align: right;
      font-size: 10px;
    }
  }

  &_top {
    .form-element__wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  &_quiet {
    .form-element__input input {
      border: 1px solid transparent;
    }
  }

  &_attention {
    .form-element__required {
      color: var(--input-text-attention);
    }

    .form-element__helper-text {
      color: var(--input-text-attention);
    }
  }

  &_attentionText {
    .form-element__helper-text {
      color: var(--input-text-attention);
    }
  }

  &_xs {
    .form-element__input input {
      padding-block: 2px;
      padding-left: 12px;
      padding-right: 12px;
      line-height: 20px;
      font-size: 12px;
    }
  }

  &_md {
    .form-element__input input {
      padding-block: 8px;
      padding-left: 12px;
      padding-right: 12px;
      line-height: 20px;
      font-size: 12px;
    }
  }

  &_lg {
    .form-element__input input {
      padding-block: 8px;
      padding-left: 16px;
      padding-right: 16px;
      line-height: 24px;
      font-size: 14px;
    }
  }

  &_xl {
    .form-element__input input {
      padding-block: 12px;
      padding-left: 16px;
      padding-right: 16px;
      line-height: 24px;
      font-size: 14px;
    }
  }

  &_error {
    .form-element__input input {
      border: 1px solid var(--input-error-border);
      &:focus {
        border: 1px solid var(--input-error-border);
        outline: 4px solid var(--input-error-outline);
      }
    }

    .form-element__helper-text {
      color: var(--input-text-attention);
    }

    &.form-element_icon-left::before {
      filter: var(--input-error-icon);
    }

    &.form-element_icon-right::after {
      filter: var(--input-error-icon);
    }
  }

  &_disabled {
    .form-element__input input {
      color: var(--input-disabled);

      &::placeholder {
        color: var(--input-disabled);
      }
    }

    .form-element__helper-text {
      color: var(--input-disabled);
    }

    .form-element__label {
      color: var(--input-placeholder);
    }
  }

  &_icon-cmnd {
    position: relative;

    &::after {
      content: "";
      width: 24px;
      height: 16px;
      background-image: url("../../assets/icons/cmnd.svg");

      border: 1px solid var(--input-icon-border);
      border-radius: 3px;

      position: absolute;
      margin-top: 2px;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      filter: var(--input-icon);

      z-index: 1;
    }
  }

  &_icon-left {
    &::before {
      content: "";
      width: 16px;
      height: 16px;

      position: absolute;
      left: 12px;
      margin-top: -2px;
      top: 50%;
      transform: translateY(-50%);
      filter: var(--input-icon);

      z-index: 1;
    }

    &-search {
      &::before {
        background-image: url("../../assets/icons/search.svg");
      }
    }

    &-help {
      &::before {
        background-image: url("../../assets/icons/help.svg");
      }
    }

    &.form-element_xs input {
      padding-left: 32px;
    }

    &.form-element_md input {
      padding-left: 32px;
    }

    &.form-element_lg input {
      padding-left: 36px;
    }

    &.form-element_xl input {
      padding-left: 36px;
    }
  }

  &_icon-right {
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url("../../assets/icons/help.svg");

      position: absolute;
      margin-top: -2px;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);

      z-index: 1;
    }
  }

  &_icon-right-offset {
    &::after {
      right: 42px;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__required {
    margin-left: 4px;
  }

  &__label {
    color: var(--label-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;

    display: flex;

    cursor: pointer;

    &-icon {
      width: 12px;
      height: 12px;

      position: relative;
      display: flex;
      top: 4px;

      margin-left: 4px;
    }

    &-info {
      display: none;

      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 12px;

      width: max-content;
      max-width: var(--input-max-width);

      font-size: 12px;
      line-height: 20px;
      border-radius: 10px;
      color: var(--input-info-text);

      background-color: var(--input-info-background);

      &:after {
        content: "\25BC";
        color: var(--input-info-background);
        position: absolute;
        bottom: -13px;
        left: 50%;
        transform: translateX(-50%);
        width: 12px;
      }
    }
  }

  &__helper-text {
    margin-top: 8px;

    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--input-helper-text);
  }

  &__input {
    font-size: 12px;
    color: var(--label-color);

    input {
      width: 100%;

      border-radius: 4px;

      margin-top: 4px;
      border: 1px solid var(--input-border);
      background-color: transparent;

      transition: 0.3s border;

      &::placeholder {
        color: var(--input-placeholder);
      }

      &:hover {
        border: 1px solid var(--input-border);
      }

      &:focus {
        border: 1px solid var(--input-focus-border);
        outline: 4px solid var(--input-focus-outline);
      }

      &:disabled {
        color: var(--input-disabled);
        border: 1px solid var(--input-border);
      }
    }
  }
}

.form-element__label-icon:hover > .form-element__label-info {
  display: block !important;
}

.form-element__input:disabled.form-element__input::placeholder {
  color: var(--input-border) !important;
}
