:root {
  // --input-padding-block: 8px;
  // --input-line-height: 15px;
}

// $input-padding-block: 8px;
// $input-padding-inline: 12px;
// $input-line-height: 15px;

$dark-text-color: #1A1A1E;

.form-element {
  max-width: 400px;

  position: relative;

  // &::after {
  //   content: '';
  //   width: 24px;
  //   height: 16px;
  //   background-image: url('../../assets/icons/cmnd.svg');

  //   border: 1px solid #E4E4E7;
  //   border-radius: 3px;

  //   position: absolute;
  //   right: 12px;
  //   top: 50%;
  //   transform: translateY(-50%);

  //   z-index: 1;
  // }

  &__wrapper {
    position: relative;

    // &::before {
    //   content: '';
    //   width: 16px;
    //   height: 16px;
    //   background-image: url('../../assets/icons/search.svg');
  
    //   position: absolute;
    //   left: 12px;
    //   top: 50%;
    //   transform: translateY(-50%);
  
    //   z-index: 1;
    // }

    // &::after {
    //   content: '';
    //   width: 16px;
    //   height: 16px;
    //   background-image: url('../../assets/icons/help.svg');
  
    //   position: absolute;
    //   right: 44px;
    //   top: 50%;
    //   transform: translateY(-50%);
  
    //   z-index: 1;
    // }

    &_label-side {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      input {
        width: calc(var(--input-line-height) + (var(--input-padding-block) * 2) * 1.5);
        min-width: 64px;
        padding-block: 2px;

        margin-top: 0;
      }
    }

    &_label-top {
      display: flex;
      flex-direction: column;
    }

    &_border {
      input {
        border: 1px solid #dbdbdb;
      }
    }
  }

  &__label {
    position: relative;
  
    color: #1A1A1E;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  
    cursor: pointer;
  
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 1px;
    //   left: 33px;
    //   background-image: url('../../assets//icons/info.svg');
    //   width: 12px;
    //   height: 12px;
    // }
  }

  &__helper-text {
    margin-top: 8px;
  
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #51525C;
  }

  &__input {
    padding-block: var(--input-padding-block);
    padding-left: var(--input-padding-left);
    padding-right: var(--input-padding-right);
    border-radius: 4px;
  
    margin-top: 4px;
    border: 1px solid transparent;
    background-color: transparent;

    font-size: 12px;
    color: #1A1A1E;
    line-height: var(--input-line-height);

    transition: .3s border;

    &::placeholder {
      color: #70707B;
    }

    &:hover {
      border: 1px solid #dbdbdb;
    }
  }
}

//min width = 1.5 * height or 64 px
//text overflow